<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
    <!--  <a class="navbar-brand" href="#">Spring boot Tutorial</a>-->
    <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">-->
    <!--    <span class="navbar-toggler-icon"></span>-->
    <!--  </button>-->

    <!--  <div class="collapse navbar-collapse" id="navbarsExampleDefault">-->
    <!--    <ul class="navbar-nav mr-auto">-->
    <!--      <li class="nav-item active">-->
    <!--        <a class="nav-link" href="#">홈<span class="sr-only">(current)</span></a>-->
    <!--      </li>-->
    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link" href="#">게시판</a>-->
    <!--      </li>-->
    <!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
    <!--&lt;!&ndash;        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>&ndash;&gt;-->
    <!--&lt;!&ndash;      </li>&ndash;&gt;-->
    <!--&lt;!&ndash;      <li class="nav-item dropdown">&ndash;&gt;-->
    <!--&lt;!&ndash;        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>&ndash;&gt;-->
    <!--&lt;!&ndash;        <div class="dropdown-menu" aria-labelledby="dropdown01">&ndash;&gt;-->
    <!--&lt;!&ndash;          <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
    <!--&lt;!&ndash;          <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
    <!--&lt;!&ndash;          <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;      </li>&ndash;&gt;-->
    <!--    </ul>-->
    <!--&lt;!&ndash;    <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
    <!--&lt;!&ndash;      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">&ndash;&gt;-->
    <!--&lt;!&ndash;      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
    <!--&lt;!&ndash;    </form>&ndash;&gt;-->
    <!--  </div>-->
</nav>

<div class="container">
    <h2>게시판</h2>
    <div>총 건수 : <span th:text="${boards.totalElements}"></span></div><!-- 컨트롤러에서 get으로 받아온 개수를 뿌려주기 -->
    <form class="form-inline d-flex justify-content-end" method="get" th:action="@{/board/list}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchText" class="sr-only">검색</label>
            <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
        </div>
        <button type="submit" class="btn btn-secondary mb-2">검색</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
        </tr>
        </thead>
        <tbody>
<!--        리스트를 for형식으로 돌리는 문법-->
        <tr th:each = "board : ${boards}">
<!--            위의 tr 에서 board : 이렇게 선언했으므로 여기서는 board.id로 사용-->
            <td th:text="${board.id}">Larry</td>
            <td><a th:text="${board.title}" th:href="@{/board/form(id=${board.id},username=${board.user.username})}"></a></td>
            <td th:text="${board.user.username}">홍길동</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},searchText=${param.searchText})}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'active'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/board/list(page=${i-1},searchText=${param.searchText})}" th:text="${i}">1</a></li>
            <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1} ,searchText=${param.searchText})}">Next</a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/board/forms}">쓰기</a>
    </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>